<a href="https://colab.research.google.com/github/davidsadovy/data690_fall2022/blob/main/assignment_08/assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 08

- Dave Sadovy
- 10/23/2022

1. Use Pandas to read the file census_costs.txt.
2. Find out how many rows and columns it has.
3. Display first 10, last 10, and random 10 rows.
4. Find out the data types of all columns - use `info()` function.
5. Find out the summary statistics of all columns.
6. Cleanse the data to make the year, population, cost, cost per person numerical type. 
- Code functions to cleanse the columns. One function for one column.
- Use `apply()` method of data frame to apply the functions to the columns for data cleansing.
7. Find out the summary statistics of the numerical columns - use `describe()` function.
8. Use Plotly to plot the average cost per person over time.
9. Use Plotly to plot the scatter plot of Total Population vs Total Cost.

## Step 0 - Import required libraries.

In [103]:
import pandas as pd
import plotly.express as px

## Step 1 - Use Pandas to read the file census_costs.txt.

In [22]:
DATA_SOURCE = "https://raw.githubusercontent.com/davidsadovy/python-stats-dataviz/master/assignments/assignment_08_census_cost/census_costs.txt"

df = pd.read_csv(DATA_SOURCE, skiprows=1, sep="\t")

df

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

## Step 2 - Find out how many rows and columns it has.

In [14]:
df.shape

(23, 4)

## Step 3 - Display first 10, last 10, and random 10 rows.

In [13]:
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [16]:
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [17]:
df.sample(10)

   Census Year Total Population   Census Cost Average Cost Per Person
4         1830       12,866,020      $378,545              2.94 cents
12        1910       91,972,266   $15,968,000             17.07 cents
16        1950      151,325,798   $91,462,000             60.44 cents
3         1820        9,633,822      $208,526              2.16 cents
22       2010*      308,745,538   $13 Billion                  $42.11
21        2000      281,421,906  $4.5 Billion                  $15.99
7         1860       31,443,321    $1,969,377              6.26 cents
6         1850       23,191,876    $1,423,351              6.14 cents
13        1920      105,710,620   $25,117,000             23.76 cents
8         1870       38,558,371    $3,421,198              8.87 cents

## Step 4 - Find out the data types of all columns - use `info()` function.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

## Step 5 - Find out the summary statistics of all columns.

In [20]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

## Step 6 - Cleanse the data to make the year, population, cost, cost per person numerical type.
- Code functions to cleanse the columns. One function for one column.
- Use `apply()` method of data frame to apply the functions to the columns for data cleansing.

In [90]:
def cleanse_year(a_string):
    '''Converts a string of numbers that may contain asterisks into an integer'''
    return int(a_string.replace("*", ""))

In [91]:
def cleanse_pop(a_string):
    '''Converts a string of numbers that may contain commas into an integer'''
    return int(a_string.replace(",", ""))

In [97]:
def cleanse_cost(a_string):
    '''Converts a string of numbers that may contain dollar signs, commas, 
       and/or the word "Billion" into an integer'''
    new_string = a_string.replace("$", "").replace(",", "")
    if new_string.endswith("Billion"):
        return int(float(new_string.split(" ")[0]) * 10**9)
    else:
        return int(new_string)

In [100]:
def cleanse_acpp(a_string):
    '''Converts a string of numbers that may contain dollar signs 
       and/or the word "cents" into an integer'''
    new_string = a_string.replace("$", "")
    if new_string.endswith("cents"):
        return float(new_string.split(" ")[0])/100
    else:
        return float(new_string)

In [101]:
df["Census Year (Cleansed)"] = df["Census Year"].apply(cleanse_year)
df["Total Population (Cleansed)"] = df["Total Population"].apply(cleanse_pop)
df["Census Cost (Cleansed)"] = df["Census Cost"].apply(cleanse_cost)
df["Average Cost Per Person (Cleansed)"] = df["Average Cost Per Person"].apply(cleanse_acpp)
df

,Census Year,Total Population,Census Cost,Average Cost Per Person,Census Year (Cleansed),Total Population (Cleansed),Census Cost (Cleansed),Average Cost Per Person (Cleansed)
0,1790,"3,929,214","$44,377",1.13 cents,1790,3929214,44377,0.0113
1,1800,"5,308,483","$66,109",1.24 cents,1800,5308483,66109,0.0124
2,1810,"7,239,881","$178,445",2.46 cents,1810,7239881,178445,0.0246
3,1820,"9,633,822","$208,526",2.16 cents,1820,9633822,208526,0.0216
4,1830,"12,866,020","$378,545",2.94 cents,1830,12866020,378545,0.0294
5,1840,"17,069,458","$833,371",4.88 cents,1840,17069458,833371,0.0488
6,1850,"23,191,876","$1,423,351",6.14 cents,1850,23191876,1423351,0.0614
7,1860,"31,443,321","$1,969,377",6.26 cents,1860,31443321,1969377,0.0626
8,1870,"38,558,371","$3,421,198",8.87 cents,1870,38558371,3421198,0.0887
9,1880,"50,155,783","$5,790,678",11.54 cents,1880,50155783,5790678,0.1154
10,1890,"62,979,766","$11,547,127",18.33 cents,1890,62979766,11547127,0.1833
11,1900,"76,303,387","$11,854,000",15.54 cents,1900,76303387,11854000,0.1554
12,1910,"91,972,266","$15,968,000",17.07 cents,1910,91972266,15968000,0.1707
13,1920,"105,710,620","$25,117,000",23.76 cents,1920,105710620,25117000,0.2376
14,1930,"122,775,046","$40,156,000",32.71 cents,1930,122775046,40156000,0.3271
15,1940,"131,669,275","$67,527,000",51.29 cents,1940,131669275,67527000,0.5129
16,1950,"151,325,798","$91,462,000",60.44 cents,1950,151325798,91462000,0.6044
17,1960,"179,323,175","$127,934,000",71.34 cents,1960,179323175,127934000,0.7134
18,1970,"203,302,031","$247,653,000",$1.22,1970,203302031,247653000,1.2200
19,1980,"226,542,199","$1,078,488,000",$4.76,1980,226542199,1078488000,4.7600
20,1990,"248,718,301","$2,492,830,000",$10.02,1990,248718301,2492830000,10.0200
21,2000,"281,421,906",$4.5 Billion,$15.99,2000,281421906,4500000000,15.9900
22,2010*,"308,745,538",$13 Billion,$42.11,2010,308745538,13000000000,42.1100

## Step 7 - Find out the summary statistics of the numerical columns - use `describe()` function.

In [102]:
df.describe()

,Census Year (Cleansed),Total Population (Cleansed),Census Cost (Cleansed),Average Cost Per Person (Cleansed)
count,23.0000,2.300000e+01,2.300000e+01,23.000000
mean,1900.0000,1.039211e+08,9.445587e+08,3.368739
std,67.8233,9.622629e+07,2.830037e+09,9.278241
min,1790.0000,3.929214e+06,4.437700e+04,0.011300
25%,1845.0000,2.013067e+07,1.128361e+06,0.055100
50%,1900.0000,7.630339e+07,1.185400e+07,0.170700
75%,1955.0000,1.653245e+08,1.096980e+08,0.658900
max,2010.0000,3.087455e+08,1.300000e+10,42.110000

## Step 8 - Use Plotly to plot the average cost per person over time.

In [111]:
fig = px.bar(
    df, 
    x="Census Year (Cleansed)", 
    y="Average Cost Per Person (Cleansed)", 
    title="Average Cost Per Person of the US Census, 1790-2010", 
    color="Census Year (Cleansed)", 
    template="presentation"
    )

fig.show()

## Step 9 - Use Plotly to plot the scatter plot of Total Population vs Total Cost.

In [119]:
fig = px.scatter(
    df, 
    x="Total Population (Cleansed)",
    y="Census Cost (Cleansed)", 
    title="US Census Population vs Cost, 1790-2010",  
    color="Average Cost Per Person (Cleansed)",
    template="plotly_dark"
    )

fig.show()